<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
<title>Add {{ user.first_name }}'s Class</title>
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}addclass.css" />
<img src="{{ STATIC_URL }}capstonelogo.jpg" alt="Capstone" />
<div id="menu"><a href="/accounts/profile/"><img src="{{ STATIC_URL }}img/backtoclasslist.png" alt="Back to Class List" /></a>
<a id="logout" href="/accounts/logout"><img src="{{ STATIC_URL }}img/logout.png" alt="Logout" /></a></div>

</head>


<body>



<div id="main">
    {% if form.errors %}
		<span class="errors">Please fill out the required fields below.</span><br /><br />
    {% endif %} 
	
<div id="form">
<span id="heading">Add Class</span><br /><br />
    <form action="/class/add/" method="post">
	{% csrf_token %}
        <table>
			<tr><th><label for="id_code">Code:</label></th><td>{{  form.code }}</td></tr>
			<tr><th><label for="id_level">Level:</label></th><td>{{ form.level }}</td></tr>
			<tr><th><label for="id_day">Day:</label></th><td>{{ form.day }}</td></tr>
			<tr><th><label for="id_description">Time:</label></th><td>{{ form.description }}</td></tr>
        </table>
		<br />
        <button type="submit"><img src="{{ STATIC_URL }}img/submit.png" alt="Submit" /></button>
    </form>
</div>
</div>
</body>

</html>
